".source.js, .source.jsx, .source.ts":
  "Mantra Component":
    "prefix": "compstate"
    "body": """
    import React from 'react';

    class $1 extends React.Component {
      render() {
        const { error } = this.props;

        return (
          <div>
          </div>
        );
      }
    }

    export default $1;
    """
